body {
  
 font-family:  Rajdhani, sans-serif;
}
.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 14ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}